<app-tools (OnClickNew)="changeMode($event)" (OnClickSave)="onSubmit()" [ViewMode]="modeType"
    (OnClickBack)="changeMode($event)">
</app-tools>
<ng-container *ngIf="isViewMode || isDeleteMode">
    <app-table [path]="fullPath" (OnEdit)="getForm($event);" (OnDelete)="delForm($event)" [headers]="headers"
        [btnDelete]="true" [btnEdit]="true" [refresh]="auto">
    </app-table>
</ng-container>

<ng-container *ngIf="isCreateMode || isEditMode">
    <div class="card-body">
        <form [formGroup]="form">
            <div class="row gy-4">

                <div class="col-xxl-3 col-md-6">
                    <div>
                        <app-input inputClass="form-control" formControlName="fecha" [dateNow]="true" [MaxDate]="0"
                            label="Fecha" type="calendar" [showTime]="true"  [format]="'yy-mm-dd hh:mm:ss'" [formValid]="ok" ></app-input>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-6">
                    <div>
                        <app-input inputClass="form-control" formControlName="comprobante" label="COMPROBANTE"
                            type="text" [formValid]="ok">
                        </app-input>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-6">
                    <div>
                        <app-input inputClass="form-control" formControlName="serie" label="SERIE Y N°" type="text"
                            [formValid]="ok">
                        </app-input>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-6">
                    <div>
                        <app-input inputClass="form-control" formControlName="concepto" label="CONCEPTO" type="text"
                            [formValid]="ok">
                        </app-input>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-6">
                    <div>
                        <app-select [currentPath]="'/usuario-buscar'" formControlName="id_usuario" [showClear]="true"
                            [filter]="false" optionValue="id" optionLabel="nombres" styleClass="p-0 w-100"
                            placeholder="-Seleccionar-" label="USUARIO" [isTemplete]="true"
                            [Labels]="['nombres','apellidos']" [formValid]="ok"></app-select>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-6">
                    <div>
                        <app-input inputClass="form-control" formControlName="moneda" label="MONEDA" type="text"
                            [formValid]="ok">
                        </app-input>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-6">
                    <div>
                        <app-input inputClass="form-control" formControlName="importe" label="IMPORTE" [min]="0"
                            [minFractionDigits]="2" type="number" [formValid]="ok">
                        </app-input>
                    </div>
                </div>
                <div class="col-xxl-6 col-md-6">
                    <div>
                        <app-input inputClass="form-control" formControlName="descripcion" label="DESCRIPCION"
                            type="text" [formValid]="ok"></app-input>
                    </div>
                </div>
            </div>
        </form>

    </div>
</ng-container>