<app-tools (OnClickNew)="changeMode($event)" (OnClickSave)="onSubmit()" [ViewMode]="modeType"
  (OnClickBack)="changeMode($event)">
</app-tools>

<ng-container *ngIf="isViewMode || isDeleteMode">
  <app-table [currentPath]="fullPath+'?esDocumentaria=0'" (OnEdit)="getForm($event);" (OnDelete)="delForm($event)" [headers]="headers"
    [btnDelete]="true" [btnEdit]="true"  [refresh]="auto">
  </app-table>
</ng-container>

<ng-container *ngIf="isCreateMode || isEditMode">
  <div class="card-body">
    <div class="row">
      <p-meterGroup [value]="meterGroup"></p-meterGroup>
    </div>
    <form [formGroup]="form">
      <div class="row gy-4">
        <div class="col-xxl-1 col-md-6">
          <div>
            <app-input inputClass="form-control" formControlName="codigo" label="CODIGO" type="text"
              [formValid]="ok"></app-input>
          </div>
        </div>
        <div class="col-xxl-3 col-md-6">
          <div>
            <app-select [currentPath]="'/insumos-buscar'" (OnChange)="selectInsumo($event)" formControlName="id_insumo"
              [showClear]="false" [filter]="false" optionValue="id" optionLabel="nombre" styleClass="p-0 w-100"
              placeholder="-Seleccionar-" label="INSUMO" [isTemplete]="true" [Labels]="['codigo','nombre']"
              [formValid]="ok"></app-select>
          </div>
        </div>
        <div class="col-xxl-2 col-md-6">
          <div>
            <app-input inputClass="form-control" formControlName="nombre" label="NOMBRE" type="text"
              [formValid]="ok"></app-input>
          </div>
        </div>
        <div class="col-xxl-3 col-md-6">
          <div>
            <app-select [currentPath]="'/unidad-medida-buscar'" formControlName="id_unidadmedida" [showClear]="false"
              [filter]="false" optionValue="id" optionLabel="descripcion" styleClass="p-0 w-100"
              placeholder="-Seleccionar-" label="U. MEDIDA" [isTemplete]="true" [Labels]="['codigo','descripcion']"
              [formValid]="ok"></app-select>
          </div>
        </div>
        <div class="col-xxl-3 col-md-6">
          <div>
            <app-select [currentPath]="'/convocatoria-buscar'" formControlName="id_convocatoria" [showClear]="false"
              [filter]="false" optionValue="id" optionLabel="nombre" styleClass="p-0 w-100"
              placeholder="-Seleccionar-" label="Convocatoria" [isTemplete]="true" [Labels]="['codigo','nombre']"
              [formValid]="ok"></app-select>
          </div>
        </div>
        <div class="col-xxl-2 col-md-6">
          <div>
            <app-select [currentPath]="'/usuario-buscar'" formControlName="id_usuario_creador" [showClear]="false"
              [filter]="false" optionValue="id" optionLabel="nombres" styleClass="p-0 w-100" placeholder="-Seleccionar-"
              label="USUARIO CREADOR" [isTemplete]="true" [Labels]="['username','nombres','apellidos']"
              [formValid]="ok"></app-select>
          </div>
        </div>
        <div class="row">
          <div>
            <h5>USUARIO EVALUADOR</h5>
            <app-table-grid  [headers]="headers_usu" [dataSource]="form.value.Lista_usuarios" [paginator]="false"
              (dataResponse)="updateDataResponseUsu($event)">
            </app-table-grid>
            <!-- <app-select [currentPath]="'/usuario-buscar'" formControlName="id_usuario_evaluador" [showClear]="false"
              [filter]="false" optionValue="id" optionLabel="nombres" styleClass="p-0 w-100" placeholder="-Seleccionar-"
              label="USUARIO EVALUADOR" [isTemplete]="true" [Labels]="['username','nombres','apellidos']" (OnChange)="agregarElemento($event)"
              [formValid]="ok"></app-select> -->
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <app-table-grid [dataSource]="form.value.Lista_proveedores" [paginator]="false" [headers]="headers_evaluacion"
          (dataResponse)="updateDataResponse($event)">
        </app-table-grid>
      </div>
    </form>
  </div>
</ng-container>

